{
    auto_https off
    admin 0.0.0.0:2019 {
        origins caddy_server:2019 express_app:2019 localhost 127.0.0.1:2019
    }
    log {
        output file /var/log/caddy/access.log {
            roll_size 50mb
            roll_keep 2
            roll_keep_for 2h
        }
        format json
    }
}


(spa) {
    encode gzip

    handle / {
        rewrite * /{args[0]}/index.html
        reverse_proxy {args[1]} {
            header_up Host "{args[1]}"
        }
    }

    handle {
        rewrite * /{args[0]}{path}

        reverse_proxy {args[1]} {
            header_up Host "{args[1]}"

            @notfound status 403 404
            handle_response @notfound {
                rewrite * /{args[0]}/index.html
                reverse_proxy {args[1]} {
                    header_up Host "{args[1]}"
                }
            }
        }
    }
}

app.localhost:80 {
   respond "hello"
}


api.localhost:80 {
    reverse_proxy app:3000
}
